//////////////////////////////////////////////////////////////////////////////////////////////////
// FONTS
//////////////////////////////////////////////////////////////////////////////////////////////////

$fontbody: normal normal normal 14px/1 'Roboto';

//////////////////////////////////////////////////////////////////////////////////////////////////
// COLORS
//////////////////////////////////////////////////////////////////////////////////////////////////

$accent: #37A0DC;
$white: #E9E9E9;
$lightGray: #DBE0E2;
$headerGray: #272A30;
$mediumGray: #2E3136;
$darkGray: #1A1E23;

//////////////////////////////////////////////////////////////////////////////////////////////////
// EDGES
//////////////////////////////////////////////////////////////////////////////////////////////////

$borderradius: 2px;